%p#notice= notice
%h1.light-blue.lighten-5 サイクルタイマー（仮）
%table.light-blue.lighten-5
  #countDownWrap.light-blue.lighten-5
    #countDown.light-blue.lighten-5
    %ul.light-blue.lighten-5
      %li#startBtn
        %a.waves-effect.waves-light.btn-large
          %i.material-icons.left
          START
      %li#stopBtn
        %a.waves-effect.waves-light.btn-large
          %i.material-icons.left
          STOP
      %li#resetBtn
        %a.waves-effect.waves-light.btn-large
          %i.material-icons.left
          RESET
    #control
      %p
        秒数を変更する
        %input#setSecond{:type => "text"}/
        %a#changeSecond 変更
      %p#error
  %thead
    %tr
      %th Day
      %th Title
      %th Text
      %th Score
      %th{:colspan => "3"}
  %tbody
    - @results.each do |result|
      %tr
        %td= result.day
        %td= simple_format(h(result.title))
        %td= simple_format(h(result.text))
        %td= result.score
        %td= link_to 'Show', result
        %td= link_to 'Edit', edit_result_path(result)
        %td= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Result', new_result_path
