%p#notice= notice
%p
  %strong Day:
  = @result.day
%p
  %strong Title:
  = simple_format(h(@result.title))
%p
  %strong Text:
  = simple_format(h(@result.text))
%p
  %strong Score:
  = @result.score
= link_to 'Edit', edit_result_path(@result)
|
= link_to 'Back', results_path
